.button {
    font: var(--font-m);
    align-items: center;
    width: var(--button-size-m);
    border: none;
    border-radius: 4px;
    color: var(--bg-color);
    font-size: var(--font-size-m);
    cursor: pointer;
    padding-top: var(--padding-board-m);
    padding-bottom: var(--padding-board-m);
}

.primary {
    background-color: var(--secondary-color);
    
}

.secondary {
    border: 4px solid var(--secondary-color);
    background: none;
    color: var(--secondary-color);
    padding-top: calc(var(--padding-board-m) - 4px);
    padding-bottom: calc(var(--padding-board-m) - 4px);
}

.clear {
    margin: 0;
    padding: 0;
    background: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.sizeXS {
    width: var(--button-size-xs);
    font: var(--font-s);
    font-size: var(--font-size-s);
    padding-top: var(--padding-board-s);
    padding-bottom: var(--padding-board-s);
}

.sizeS {
    width: var(--button-size-s);
    font: var(--font-s);
    font-size: var(--font-size-s);
    padding-top: var(--padding-board-s);
    padding-bottom: var(--padding-board-s);
}

.sizeM {
    width: var(--button-size-m);
    font: var(--font-m);
    font-size: var(--font-size-m);
    padding-top: var(--padding-board-m);
    padding-bottom: var(--padding-board-m);
}

.sizeL {
    width: var(--button-size-l);
    font: var(--font-l);
    font-size: var(--font-size-l);
    padding-top: var(--padding-board-l);
    padding-bottom: var(--padding-board-l);
}

.sizeXL {
    width: var(--button-size-xl);
    font: var(--font-xl);
    font-size: var(--font-size-xl);
    padding-top: var(--padding-board-xl);
    padding-bottom: var(--padding-board-xl);
}