.player {
    font: var(--font-l);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.playerName {
    color: var(--text-primary-color);
}

.locationRight {
    flex-direction: row-reverse;
}

.locationLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    color: var(--text-primary-color);

}

.headerPlayer {
    font: var(--font-xl);
    color: var(--secondary-color);
    font-weight: 700;
}

.headerColor {
    font: var(--font-l);
}

.trickList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
    max-width: 280px;
}

.colorTile {
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
}

.colorTile:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(0,0,0,0.08);
}

.selected {
    border-color: var(--secondary-color);
}

.disabled {
    background: var(--bg-color-opacity);
    opacity: 0.35;
    cursor: not-allowed;
}

.note {
    color: var(--text-secondary-color);
    font-size: var(--font-size-s);
}

.active {
    padding: var(--padding-board-s);
    border-radius: 8px;
    background: var(--bg-board-color);
    box-shadow: 0 0 0 3px var(--secondary-color);
}

.score {
    color: var(--secondary-color);
    font: var(--font-xl);
    font-weight: 600;
}

.playerContainer {
    display: flex;
    align-items: center;
    gap: 18px;
}
